.imgs {
  background-position: center;
  background-size: cover;
  position: relative;
  height: 550px;
  padding: 0;

  .layer {
    h1 {
      opacity: 0;
    }
  }

  &:hover {
    .layer {
      cursor: pointer;
      width: 100% !important;
      height: 100% !important;
      background-color: black;
      opacity: 0.75;
      z-index: 1;

      h1 {
        opacity: 1;
      }
    }

  }
}
.hide{
  opacity: 0.5;
}
