
.hide{
  transition: 0.8s!important;
  height: 0px !important;
  overflow: hidden !important;
  padding: 0 !important;
}
#logIn{
  transition: 0.8s;
}
#signUp{
  transition: 0.8s;
}
.loginErrs{
  z-index: 1;
  background-color: aliceblue;
  p{
    padding: 3px;
  }
}
.h-20{
  height: 20%;
}
.h-90{
height: 90vh;
}
