@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
// @import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
// @import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
body {
  background-color: rgb(243, 243, 243);

  font-family: 'Raleway', sans-serif;

  // font-family: 'Montserrat Alternates', sans-serif;

}

.img {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.btn-main {
  background: linear-gradient(to right, #FFB84C, #F16767);
color: white;
}
.text-main {
  color:  #FFB84C

}

.btn-main:hover {
  background: linear-gradient(to right, #F5EAEA, #FFB84C);



}

p {
  margin: 0;
}

.box-shadow {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

.cursor-pointer {
  cursor: pointer;
}

.transition {
  transition: 0.5s !important;
}

.h-35 {
  height: 35%;

}

.h-40 {
  height: 40%;
}

.h-45 {
  height: 45%;
}

.h-20 {
  height: 20%;
}

.top-7 {
  top: 7px;
}

textarea,
input:focus {
  outline: none !important;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.scroll {
  overflow-y: scroll;

}

.scroll::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.text-grey{
  color: gray;
}
